<div class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-12">
      <h2>Yoga Poses</h2>
    <p>Learn about the individual poses</p>
</div>
</div>
<br>

<div class="input-group">
<input type="text" class="form-control" placeholder="Search for...">
<span class="input-group-btn">
<button id="searchByText" type="button" class="btn btn-default dropdown-toggle" style="border-radius: 0;" data-toggle="dropdown" aria-expanded="false">Search By <b>Title</b> <span class="caret"></span></button>
<ul class="dropdown-menu" id="searchBy" role="menu">
<li><a href="#Title">Title</a></li>
<li><a href="#Keyword">Keyword</a></li>
<li><a href="#Author">Author</a></li>
</ul>
<button class="btn btn-default" type="button" onclick="window.location.href='search.html';">Search</button>
</span>
</div>

<div id="Beginner" class="container-fluid bg-3 text-center" style="padding-top:50px; padding-bottom: 50px;">
  <div class="row">
    <% @poses.each do |pose| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="<%= asset_path('Poses/1.jpg')%>" class="img-responsive" style="width:100%" alt="Image">
        <div class="caption">
          <h3><%= pose.title%> </h3>
          <p><a><%= link_to 'View Pose', pose_path(pose), :class =>"btn btn-default" %></a></p>
        </div>
      </div>
    </div>
    <% end %>
  </div> <br>
</div>
