<div class="container-fluid text-center">
<h2> <%= @pose.title %></h2>
<div class="row">
  <div class="col-sm-8">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="@pose.imageSrc" alt="Image">
        </div>
      </div>

    </div>
  </div>

  <div class="col-sm-4">
    <br>
    <center>
    <button class="btn btn-default" type="button" onclick="window.location.href='#Description';" style="height: 60px; width: 320px; font-size: 20px;">Description</button>
    <button class="btn btn-default" type="button" onclick="window.location.href='#Steps';" style="height: 60px; width: 320px; font-size: 20px;">Steps</button>
    </center>
  </div>

</div>
<hr>
</div>

<div id="Description" class="container text-center" style="padding-top:50px; padding-bottom: 50px;">
  <h3>Description</h3>
  <p><%= @pose.title %></p>
</div>

<div id="Steps" class="container text-center" style="padding-top:50px; padding-bottom: 50px;">
  <h3>Steps</h3>
  <h5>Step 1:</h5>
  <p>Lorem ipsum...</p>
  <h5>Step 2:</h5>
  <p>Lorem ipsum...</p>
  <h5>Step 3:</h5>
  <p>Lorem ipsum...</p>
  <h5>Step 4:</h5>
  <p>Lorem ipsum...</p>
  <h5>Step 5:</h5>
  <p>Lorem ipsum...</p>
</div>

<div class="container text-center">
  <hr>
  <br>
  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-3">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Pose name</p>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-default" type="button" onclick="window.location.href='tutorial.html';" style="height: 60px; width: 250px; font-size: 16px;">See video tutorial</button>
    </div>
  </div>
  <hr>
</div>

<div class="container text-center">
  <h3>Suggestions</h3>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Partner 1</p>
    </div>
    <div class="col-sm-2">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Partner 2</p>
    </div>
    <div class="col-sm-2">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Partner 3</p>
    </div>
    <div class="col-sm-2">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Partner 4</p>
    </div>
    <div class="col-sm-2">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Partner 5</p>
    </div>
    <div class="col-sm-2">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Partner 6</p>
    </div>
  </div>
</div><br>
