<div class="jumbotron text-center">
  <h1>Hey there, Yogi.</h1>
  <img src="<%= asset_path('peas.png') %>" style="width: 90px; height: 62px;">
  <p>We hope you find your inner <span style="color: #ddff8e;">peas!</span></p>
  <a><%= link_to "Start Workout", workouts_index_path, {:class =>"btn btn-default btn-lg"}%></a>
</div>
