<div class="container-fluid text-center">
  <div class="row content">
    <h2>Donate</h2>
    <div>
      <p>Our mandate is to help you find your inner peace even (especially) when school can be stressing you out. We strive to maintain our web-site and bring you yoga workouts
      that are masterfully curated by our outstanding yogi instructors. To do this we need your help! Please support us if you love Ombelievable Yoga and you can't wait to see us flourish
      and bring you the latest in your Ombelievable journey! </p>
    </div>
    <hr>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="2X6NBA3AFU9FN">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    <div>
    <br>
    <p>We appreciate your support!</p>
    <hr>
    </div>
  </div>
</div>
