<footer class="container-fluid text-center">
  <p>References</p>
    <br>
    <div class="row">
    <div class="col-sm-4">
        <p style="font-size: 12px;"><b>Information from:</b> <br> YogaJournal <br> YogaBasics </p>
    </div>
    <div class="col-sm-4">
        <p style="font-size: 12px;"><b>Images and audio from:</b> <br> Youtube <br> WallpapersWeb <br> Pintrest <br> Disney Tsum Tsum <br> Yale Arts</p>
    </div>
    <div class="col-sm-4">
        <p style="font-size: 12px;"><b>Code reference:</b> <br> w3school <br> tutorialsPoint <br> React</p>
    </div>
  </div>
  <hr>
  <p style="font-size: 10px;">Ombelievable Yoga 2018, SEG3125 Project, University of Ottawa | This non-profit website is for educational purposes. Users are responsible for their own risk and injuries</p>
  <br>
  <img src="images/clap.gif" class="container-fluid" align="middle" style="height:132px;max-width: 100%;">
  <center>
<audio controls autoplay loop>
    <source src="sound/[No Copyright Music] Acoustic Folk Instrumental - Hyde Free Instrumentals.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
</center>
</footer>
