<footer class="container-fluid text-center">
  <p style="font-size: 10px;">Ombelievable Yoga 2018, SEG3125 Project, University of Ottawa | This non-profit website is for educational purposes. Users are responsible for their own risk and injuries</p>
</footer>
