<div class="container-fluid text-center" style="padding-top:50px; padding-bottom: 50px; color: #fff; background-color: #333333;">
 <h3>About</h3>
 <p>University students are constantly dealing with stress on a daily basis. Their stress levels are often pretty high and they’re at a peak during midterm and exam season. To combat the stress epidemic, we’ve decided to build a tool to help university students relieve stress in a fun, interactive and positive way!</p>
</div>

<div class="container-fluid text-center" style="padding-top:50px; padding-bottom: 50px; color: #000; background-color: #c1f1ff;">
  <h3>The Creators</h3>
  <div class="row">
    <div class="col-sm-4" align="middle">
        <img src="<%=asset_path('Sherry.jpg')%>" width = 160 height = 200 style="border-radius: 30%;">
        <h4>Sherry Wang</h4>
        <h5>Group and Task Manager</h5>
        <h5><u>swang261@uottawa.ca</u></h5>
    </div>
    <div class="col-sm-4" align="middle">
        <img src="<%=asset_path('Meina.jpg')%>" width = 160 height = 200 style="border-radius: 30%;">
        <h4>Meina Oria</h4>
        <h5>Evaluation and Implementation Manager</h5>
        <h5><u>moria097@uottawa.ca</u></h5>
    </div>
    <div class="col-sm-4" align="middle">
        <img src="<%=asset_path('Ash.jpg')%>" width = 160 height = 200 style="border-radius: 30%;">
        <h4>Ashley Labelle</h4>
        <h5>Documentation and Design Manager</h5>
        <h5><u>alabe101@uottawa.ca</u></h5>
    </div>
  </div>
</div>
