<div id="about" class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-12">
      <br>
      <h2>About</h2><br>
      <h4>Ombelievable Yoga can help you destress and ecnourage gentle exercise and stretching as part of a healthy lifestyle.</h4><br>
      <p>Our mandate is to help you find your inner peace even (especially) when school can be stressing you out. We strive to maintain our web-site and bring you yoga workouts that are masterfully curated by our outstanding yogi instructors. To do this we need your help!</p>
    </div>
  </div>
</div>
<div id="contact" class="container-fluid text-center" style="background-color: #eee;">
  <h2 class="text-center">Creators</h2>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Sherry Wang</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="<%=asset_path('Sherry.jpg')%>" style="width: 160px; height: 200px; border-radius: 100%;">
      </a>
      <div id="demo" class="collapse">
        <p>Group and Task Manager</p>
        <p>swang261@uottawa.ca</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Meina Oria</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="<%=asset_path('Meina.jpg')%>" style="width: 160px; height: 200px; border-radius: 100%;">
      </a>
      <div id="demo2" class="collapse">
        <p>Evaluation and Implementation Manager</p>
        <p>moria097@uottawa.ca</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Ashley Labelle</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
        <img src="<%=asset_path('Ash.jpg')%>" style="width: 160px; height: 200px; border-radius: 100%;">
      </a>
      <div id="demo3" class="collapse">
        <p>Documentation and Design Manager</p>
        <p>alabe101@uottawa.ca</p>
      </div>
    </div>
  </div>
</div>
